$avd-primary: #FED03D;
$avd-white: #FFFFFF;
$avd-lightDark: #333333;
$avd-violet: #55328B;
$avd-dark: #1F1F1F;
$avd-orange: #FE813E;
$avd-blue: #517AD2;
$avd-success: #84CB01;
$avd-lightBlue: #21A6B5;